<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Periodical</title>
</head>
<body>
	<div align="center">	
		<h1>Create New Periodical</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${periodical}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Periodical Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>				
				<tr>
					<td>Category ID:</td>
					<td><input type="text" th:field="*{categoryId}" /></td>
				</tr>				
				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>