<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="/">[[#{periodicals.title}]]</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">[[#{pages.main}]] <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">[[#{pages.users}]]</a></li>
            <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/periodicals}">[[#{pages.periodicals}]]</a></li>
            <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/categories}">[[#{pages.categories}]]</a></li>
            <li class="nav-item"><a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/subscriptions}">[[#{pages.subscriptions}]]</a></li>
            <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/my-subscriptions}">[[#{subscriptions.my.title}]]</a></li>
            <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/replenish_account}">[[#{menu.profile.balance}]]</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/about}">[[#{pages.about}]]</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
            <li>
                <div class="mr-2">
                    <form class="form-inline" th:action="@{/search/periodicals}">
                        <input class="form-control mr-sm-2" type="search" id="keyword" name="keyword" th:placeholder="#{actions.search}" aria-label="[[#{actions.search}]]">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">[[#{actions.search}]]</button>
                    </form>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" onclick="$('#language-dropdown').toggle();">
                        [[#{lang.language}]]
                    </button>
                    <div class="dropdown-menu" id="language-dropdown">
                        <button class="dropdown-item" type="button">
                            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}" th:text="#{lang.EN}">EN</a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('lang', 'fr').toUriString()}" th:text="#{lang.FR}">FR</a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('lang', 'ru').toUriString()}" th:text="#{lang.RU}">RU</a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('lang', 'ua').toUriString()}" th:text="#{lang.UA}">UA</a>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" sec:authorize="isAnonymous()"  th:classappend="${module == 'register' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/register}">[[#{registration.form.title}]]</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()" th:classappend="${module == 'login' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/login}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;[[#{login.title}]]
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${module == 'logout' ? 'active' : ''}">
                <div>
                    <div class="nav-link float-left ml-2 text-white">
                        [[#{menu.greeting}]], [[${#request.userPrincipal.principal.fullName}]]!
                    </div>
                    <a class="nav-link float-left" href="/logout" th:href="@{#}" onclick="$('#logout-form').submit();">[[#{user.logout}]]</a>
                </div>
                <form class="d-none invisible" id="logout-form" method="post" action="#" th:action="@{/logout}">
                    <input class="nav-link" type="submit" value="[[#{user.logout}]]" />
                </form>
            </li>
        </ul>
    </div>
</nav>