<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div class="container text-center">
        <div>
            <h1>[[#{pages.about}]]</h1>
        </div>
        <p style="float:left; text-align: left;" th:utext="#{general.about}"></p>
        <div sec:authorize="isAuthenticated()">
            <i><span sec:authentication="principal.authorities">[[#{role.roles}]]</span></i>
        </div>
    </div>
</body>
</html>