<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container text-center">
        <div class="clearfix clear"><br /></div>
        <h1 th:text="#{general.greeting}"></h1>
        <div class="clearfix clear"><br /></div>
        <div class="home-register-login" sec:authorize="isAnonymous()">
            <a class="btn btn-primary" th:href="@{/register}">[[#{registration.form.title}]]</a>
            &nbsp;&nbsp;<a class="btn btn-primary" th:href="@{/login}">[[#{login.title}]]</a>
        </div>
    </div>
</body>
</html>