
<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Servl</servlet-name>
    <servlet-class>ua.training.controller.Servlet</servlet-class>
  </servlet>

  <locale-config>
      <default-locale>en</default-locale>
      <supported-locale>en</supported-locale>
      <supported-locale>fr</supported-locale>
      <supported-locale>ru</supported-locale>
      <supported-locale>ua</supported-locale>
  </locale-config>

  <resource-bundle>
    <base-name>messages</base-name>
    <var>bundle</var>
  </resource-bundle>

  <servlet-mapping>
    <servlet-name>Servl</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages</param-value>
  </context-param>

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
    <param-value>en</param-value>
  </context-param>

  <filter>
    <filter-name>SessionLocaleFilter</filter-name>
    <filter-class>ua.training.controller.filters.SessionLocaleFilter</filter-class>
    <init-param>
      <param-name>lang</param-name>
      <param-value>en</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionLocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.training.controller.filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>ua.training.controller.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminAuthorizationFilter</filter-name>
    <filter-class>ua.training.controller.filters.AdminAuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>UserAuthorizationFilter</filter-name>
    <filter-class>ua.training.controller.filters.UserAuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>ua.training.controller.filters.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>
      ua.training.controller.listener.SessionListener
    </listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

</web-app>
