
<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Servl</servlet-name>
    <servlet-class>ua.training.controller.Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servl</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
